.footer {
    height: 415px;
    width: 1200px;
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    background-color: #1D4044;
}

.footer .socials,
.policy,
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #B2F5EA;
    font-size: 30px;
    justify-content: center;
}

.policy> :not(:first-child),
.contact> :not(:first-child) {
    margin-right: auto;
    margin-left: auto;
}

.footer .social_logo_container {
    background: #E6FFFA;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
}

.phone {
    font-family: var(--font-inter);
    font-size: 25px;
}