.info {
    display: flex;
    flex-direction: column;
    margin-top: 185px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    max-width: 100%;
    align-items: center;
    gap: 65px;
    font-size: 60px;
    
}
.hero_image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.hero_image.visible {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}