.hero {
    margin-top: 300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 57px;
    justify-content: center;
}
@media (max-width: 1200px) {
    .hero {
        width: 1200px;
    
    }
    .hero h1 {
        font-size: 40px;
    
    }
}
.hero h1 {
    color: #1D4044;
    font-size: 60px;
    white-space: pre-line;
}

.background_circle {
    position: relative;
    background: transparent;
    box-sizing: content-box;
    padding: 30px;
    border: 1px solid #1D4044;
    border-radius: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    ;
}